a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
  color: #24292e;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

button.full-width {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

img {
  border-radius: 3px;
  max-width: 100%;
}

p:last-of-type {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.App {
  font-size: 16px;
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 15px;
}

.App-header {
  align-items: center;
  background-color: #fefefe;
  color: #2b2b2b;
}

.card {
  padding: 1em;
  position: relative;
}

.events__list {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.events__list__item {
  background: #ffffff;
  border: 1px solid #d1d5da;
}

.event__link {
  font-weight: bold;
}

.event__status--closed {
  color: green;
  border: 1px solid green;
}

.event__status--open {
  color: orange;
  border: 1px solid orange;
}

.event__status,
.event__type {
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 18px;
  padding: 5px 8px;
}

.event__type {
  border: 1px solid #2b2b2b;
  margin-right: 10px;
  text-transform: uppercase;
}

.followers__list {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.follower__avatar:hover {
  background-color: rgba(0,0,0,0.5);
}

.follower__avatar {
  box-sizing: border-box;
  display: block;
}

.profile {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 250px 1fr;
}

.profile__avatar {
  border-radius: 6px;
}

